{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="menu">
    <div class="row">
        <div class="column meal-title">
            Philly chease steak
        </div>
    </div>
    <div class="row">
        <div class="column column-25 meal-description">
            <div class="content">
                Ramstek u marinadi, grilovana paprika, grilovan crni luk, senf dijon, iceberg, krckaval, cedar
            </div>
        </div>
        <div class="column column-25 meal-price">
                <span class="currency">rsd</span>
                <span class="value">420</span>
        </div>
    </div>
</div>
{% endblock %}
